body {
	
	margin: 0;
			width: 100vw;
			height: 100vh;
			background-image: url("img/iceberg.png");
			background-size: cover;
			background-repeat: no-repeat;
			min-width: 320px;
			max-width: 100%;
			min-height: 568px;
			max-height: 100%;
			
    
}


.menu-principal {
	width: 100%;
	background-color: #08082b;
	height:60px;
}

main {
	margin: 0 auto;
	width: 980px;
	position: relative;
}
.logo {
	float: left;
	padding: 15px;
	width: 60%;
}

.redes-sociais ul li {
	margin-left: 15px;
	display: block;
	float: left;
	padding: 2px;
}

.redes-sociais {
	float: right;
	padding: -15px;
	margin: auto;
	float: right;
}

.header-2 {
	background-color: #FFFFFF;
	width: 100%;
	border-bottom: 3px solid #6495ED;
}
.menu ul li {
	display: inline-block;
	color: #6495ED;
	margin-left: 25px;
}

.menu ul li a {
	color: #d9e0ff;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
}

.menu{
	width:  70%;
	float:  left;
}


 .conteudo {
 	margin: 25px;
	float: none; 
	padding: 750px;

 }

 .texto {
      position: relative;
      color:#fff;
      text-align: justify;
      top: 100px;
      width: 100%;
      height: 100%;
      line-height: 30px;
      left: 300px;
	  
}

html{ overflow-y: scroll;
	scroll-behavior: smooth;
	background-size: cover;
}

#titulo {
	font-family:'Franklin Gothic Medium';
	font-size: clamp(2em, 1em + 1vw, 1.5em);
	word-break: break-word;
	color: rgb(255, 255, 255);
	text-align: center;
	position: relative;

}

.complemento {
	font-family:'Franklin Gothic Medium';
	font-size: clamp(1em, 1em + 1vw, 1.5em);
	word-wrap: break-word;
	color: rgb(255, 255, 255);
	margin: 0;
	word-break: break-word;
	margin-top: auto;
	position: relative;

}

.teste {
	width: 95%;
	text-align: justify;
	margin: auto;
	margin-block-start: 10%;
	display: block;
	position: unset;

		
}

#info {
	position: relative;
	border-radius: 2%;
	min-width: 320px;
	max-width: 980px;
    border: 1px solid rgba(0, 0, 0, 0);
    align-items: center;
    flex-wrap: wrap;
	display: flex;
	
}

select {
				/*appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;*/
				border: 1px rgb(0,100,255);
				font-size: 18px;
				background-color: #08082b;
				color: rgb(156, 241, 247);
				font-family: Times New Roman;
				opacity: 1;
				
			}

.uai {
    width: 300px;
    height: 332px;
	position: fixed;
	border-radius: 2%;
	min-width: 50px;
	max-width: 300px;
    align-items: relative;
    flex-wrap: wrap;  
    margin-top: 37px;
	column-width: 900px;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
  width: 1000px;
}

[class*="col-"] {
  float: left;
  padding: 5px;
  margin: 15px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
	font-size: clamp(180em, 15em + 150vw, 1.50em);
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 37.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}



.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #08082b;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #11116b;
}


.uai ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.uai li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #08082b;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.uai li:hover {
  background-color: #11116b;
}