body {
	
	margin: 0;
			width: 100vw;
			height: 100vh;
            		background-size: cover;
			background-repeat: no-repeat;
			min-width: 320px;
			max-width: 100%;
			min-height: 568px;
			max-height: 100%;
        
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main right'
      'menu footer footer footer footer footer';
    
  }
  
  .grid-container > div {
    padding: auto 0;
  }


.menu-principal {
	width: 100%;
	background-color: #010935;
	height:60px;
}

.logo {
	float: left;
	padding: 15px;
	width: 60%;
}

.redes-sociais ul li {
	margin-left: 15px;
	display: block;
	float: left;
	padding: 2px;
}

.redes-sociais {
	float: right;
	margin: auto;
	float: right;
}

.header-2 {
	width: 100%;
	border-bottom: 3px solid #6495ED;
	margin: 0 auto;
    position: relative;
}

.menu ul li {
  padding: 8px;
  background-color: #002453;
  box-shadow: 0 1px 3px #6495ED;
  float:  left;
  list-style-type: none;
margin-left: 2%;
  
}

.menu li a {
	color: #d9e0ff;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
}


 .conteudo {
 	margin: auto;
	float: none; 

 }
.texto a{
	text-decoration: none;
	text-transform: uppercase;		
	position: absolute;
	font-size: clamp(10px, 2em + 1vw, 2.5em);
	text-align: center;
	display: flex;
   	align-items: center;
    	justify-content: center;
	text-shadow: rgb(49, 49, 49) 0.1em 0.1em 0.2em;
	left: 30%;
    transform: translate(-50%, 50%);
    margin: 20% 22% 22% 22%;
    width: max-content;

}

 .texto {
      position: relative;
      color:rgb(247, 245, 245);
      text-align: justify;
      width: 90%;
	  text-decoration: none;
	  text-transform: uppercase;
	  font-family:'Franklin Gothic Medium';
	  font-size: clamp(10px, 1em + 1vw, 1.5em);
	  margin: 0 auto;

}

 #info {
	position: relative;
	min-width: 20%;
	max-width: 500%;
    align-items: center;
    flex-wrap: wrap;
	margin: 0 auto;

}

.redondo {
	color: rgb(0, 153, 255);
	border-radius: 2%;
	border-style: double;

 }


html{ 
	overflow-y: scroll;
}
